.find_password_name {
  max-width: 540px;
  color: #fbcc4d;
}

.find_password_tabs {
  max-width: 540px;
  /* margin: 0 auto; */
}

.find_password_tab_button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.find_password_tab_button li {
  display: table-cell;
  width: 20%;
}

.find_password_tab_button li a {
  display: block;
  padding: 0.5em;
  background: #413e53;
  text-align: center;
  color: #ad9aff;
  text-decoration: none;
  height: 42px;
  transition: 0.3s;
}

.find_password_tab_button li:not(:first-child) a {
  border-left: none;
}

.find_password_tab_button li a:hover,
.find_password_tab_button .is-active a {
  background: #7165a7;
  color: #ffffff;
}

.find_password_tab_contents {
  padding: 0.5em 2em 1em;
  color: #ffffff;
  background: #7165a7;
  min-height: 420px;
  transition: 0.3s;
}

.find_password_tab_contents .form input {
  border-radius: 0;
  border: 0;
}

.find_password_tab01 .form .btn {
  background: #412f8f;
  border: 1px solid #cccccc;
  border-radius: 0;
  max-width: 243px;
}

.find_password_tab01 .form .btn:hover {
  background: #413e53;
  border: 1px solid #cccccc;
}
