product_inner_border_green .product_inner_all_slider {
  width: 100%;
  margin: 0 auto;
}

/* .product_inner_all_slider:after{
  clear: both;
  content: none;
  display: block;
}
 */
.product_inner_all_slider .product_inner_nav_item {
  width: 25%;
  height: 100px;
  display: block;
}

.product_inner_all_slider .product_inner_nav_item img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.product_inner_nav_slider {
  position: relative;
  width: 100px;
  height: 35vh;
  box-sizing: content-box;
  overflow: hidden;
}

.product_inner_nav_images {
  position: absolute;
  top: 0;
}

.product_inner_nav_item {
  cursor: pointer;
}

.product_inner_arrows {
  position: relative;
  height: 35vh;
  width: 100px;
  overflow: hidden;
}

.more_down {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 75%;
  height: 30px;
  background-color: rgba(33, 23, 81, 0.6);
  color: white;
  z-index: 1;
  cursor: pointer;
}

.more_down:hover {
  background-color: rgba(33, 23, 81, 0.9);
}

.more_down i {
  font-size: 30px;
  margin: 0;
}

.more_up {
  text-align: center;
  position: absolute;
  top: 0;
  width: 75%;
  height: 30px;
  background-color: rgba(33, 23, 81, 0.6);
  color: white;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.more_up:hover {
  background-color: rgba(33, 23, 81, 0.9);
}

.more_up i {
  font-size: 30px;
  margin: 0;
}

.fit-image_h50 {
  object-fit: cover;
  height: 50%;
  width: 80%;
  margin-left: -13%;
}

.product_inner_tab_button {
  display: table;
  table-layout: fixed;
  width: 57%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product_inner_tab_button li {
  display: table-cell;
  width: 25%;
}

.product_inner_tab_button li a {
  display: block;
  padding: 0.5em;
  background: #413e53;
  /* border-bottom: .8px solid #413E53; */
  text-align: center;
  color: #ad9aff;
  text-decoration: none;
  height: 45px;
  transition: 0.3s;
}

.product_inner_tab_button li:not(:first-child) a {
  border-left: none;
}

.product_inner_tab_button .is-active a {
  background: #7165a7;
  color: #ffffff;
}
.product_inner_tab_contents {
  padding: 0.5em 2em 1em;
  color: #ffffff;
  background: #7165a7;
  min-height: 400px;
}
.product_inner_tab_contents small {
  color: #ffcc4d;
}
.porduct_inner_another_text {
  color: #7165a7;
}
.product_inner_tab01 button {
  background: #412f8f;
  border: 1px solid #cccccc;
  border-radius: 0;
}

.product_inner_tab01 button:hover {
  background: #413e53;
  border: 1px solid #cccccc;
}

.product_inner_tab02 .row {
  margin: 0 auto;
}
.product_inner_price_border {
  border-top: 1px solid #6b4bff;
  border-bottom: 1px solid #6b4bff;
}
.product_inner_border {
  border-bottom: 1px solid #6b4bff;
}
.product_inner_border_green {
  border: 1px solid #a8ff8a;
}
.product_inner_border_green2 {
  border: 1px solid #a8ff8a;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.product_inner_my_favorite {
  background-color: #7165a7;
}
.product_inner_share_friend {
  background-color: #084da7;
}
.product_inner_main_pic {
  transition: 0.3s;
}
.product_inner_card_border {
  background: #1b172e;
  border: 1px solid #bbb;
  /* width: 30%; */
  transition: 0.5s;
}
.product_inner_card_border:hover {
  border: 1px solid #a8ff8a;
  box-shadow: 0 0 20px #a8ff8a;
}
.product_inner_card_border:hover .product_name {
  color: #a8ff8a;
}
.product_inner_card_text {
  color: #fff;
  text-decoration: none;
}
.product_inner_card_text:hover {
  color: #a8ff8a;
  text-decoration: none;
}
.card_price {
  color: #fbcc4d;
}

.product_inner_tab02 .row .accordion .card .card-header {
  background: #2a2057;
  color: #ffffff;
  border-radius: 0;
}

.product_inner_tab02 .row .accordion .card .collapse {
  border-radius: 0;
}

.product_inner_tab02 .row .accordion .card .collapse_textcolor {
  background: #413e53;
}

.product_inner_tab02 .row .accordion .card .collapse_textcolor .card-body {
  color: #ffffff;
}

.product_inner_mobile_product {
  position: relative;
  background-color: rgba(27, 23, 46, 1);
  border: 1px solid #a8ff8a;
  box-shadow: 0 0 20px #a8ff8a;
}
.product_inner_after {
  background-color: rgba(27, 23, 46, 1);
  width: 100%;
  height: 0%;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: 0.7s;
  z-index: 90;
}
.product_inner_after.active {
  background-color: rgba(27, 23, 46, 1);
  position: absolute;
  box-shadow: 0 0 30px #a8ff8a;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 90;
}
.product_inner_after span {
  overflow: hidden;
  position: absolute;
  height: 80%;
  top: 20%;
  left: 10%;
}
.product_inner_mobile_btn_bg {
  background-color: rgba(27, 23, 46, 1);
}
.product_inner_Three_color {
  color: #fff;
}
.product_inner_Three_color:hover {
  color: #fbcc4d;
}
.product_inner_border_yellow {
  border: 1px solid #fbcc4d;
  background-color: rgba(27, 23, 46, 1);
}
.GA_heart {
  color: #fff;
}
.GA_heart.like {
  color: red;
}
.after_inner_text {
  margin-top: -20px;
}
/* .product_inner_nav_slider2{
  position: relative;
  height: 75vh;
  width: 300px;
  overflow: hidden;
} */

/* .product_inner_slides{
  position: absolute;
  left:0px;
  list-style-type: none;
  width: 5100px;
  padding: 0;
  margin-left: -10%
} */

/* .product_inner_slides li {
  max-width: 300px;
  min-height: 400px;
} */
/* .product_inner_img{
  max-width: 200px;
  height: 180px;
  overflow: hidden;
} */
