/* .register_bg {
  background-image: url("../img/login_bg01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
} */

.register_page_name {
  max-width: 540px;
  color: #fbcc4d;
}

.register_page_tabs {
  max-width: 540px;
  /* margin: 0 auto; */
}

.register_page_tab_button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.register_page_tab_button li {
  display: table-cell;
  width: 20%;
}

.register_page_tab_button li a {
  display: block;
  padding: 0.5em;
  background: #413e53;
  text-align: center;
  color: #ad9aff;
  text-decoration: none;
  height: 42px;
  transition: 0.3s;
}

.register_page_tab_button li:not(:first-child) a {
  border-left: none;
}

.register_page_tab_button li a:hover,
.register_page_tab_button .is-active a {
  background: #7165a7;
  color: #ffffff;
}

.register_page_tab_contents {
  padding: 0.5em 2em 1em;
  color: #ffffff;
  background: #7165a7;
  min-height: 420px;
  transition: 0.3s;
}

.register_page_tab_contents .form input,
.register_page_tab_contents .form textarea {
  border-radius: 0;
  border: 0;
}

.register_page_tab_contents .form .form-control-md {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.register_page_tab_contents small {
  color: #ffcc4d;
}

.register_page_tab01 .form {
  max-width: 400px;
  margin: 0 auto;
}

.register_page_tab01 .form .form-check {
  margin-left: 25px;
}

.register_page_tab01 button {
  background: #412f8f;
  border: 1px solid #cccccc;
  border-radius: 0;
}

.register_page_tab01 button:hover {
  background: #413e53;
  border: 1px solid #cccccc;
}

.register_page_tab02 .form {
  max-width: 400px;
  margin: 0 auto;
}

.register_page_tab02 button {
  background: #412f8f;
  border: 1px solid #cccccc;
  border-radius: 0;
}

.register_page_tab02 button:hover {
  background: #413e53;
  border: 1px solid #cccccc;
}

/* TEXTAREA的部分 */
/* .register_page_tab02 .form .form-group textarea {
  border-radius: 0;
} */

.register_page_tab02 .form .mobile_register_submit .btn {
  background: #412f8f;
  border: 1px solid #cccccc;
  border-radius: 0;
  max-width: 266px;
}
